In [23]:
import pandas as pd
import numpy as np

In [24]:
a2e = pd.read_csv("agedistribution_2016_estimates.csv")
a2e.head()

      Age     M     F   Tot
0     0-4   8.7   8.2   8.5
1   9-May   9.1   8.8   8.9
2  14-Oct   9.8   9.4   9.6
3   15-19  10.4   9.9  10.1
4   20-24  10.2  10.7  10.4

In [25]:
a2e.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Age     21 non-null     object
 1   M       21 non-null     float64
 2   F       21 non-null     float64
 3   Tot     21 non-null     float64
dtypes: float64(3), object(1)
memory usage: 804.0+ bytes

In [26]:
# Print the current column names
print(a2e.columns)

# Rename columns
a2e = a2e.rename(columns={'Age': 'Age_Group', 'M': 'Male', 'F': 'Female', 'Tot': 'Total'})

Index(['Age', 'M', 'F', 'Tot'], dtype='object')

In [27]:
# Replace 'May' with '5' and 'Oct' with '10' in the 'Age' column
a2e['Age_Group'] = a2e['Age_Group'].replace({'May': '5', 'Oct': '10'}, regex=True)

In [28]:
a2e.to_csv('Cleaned_agedistribution_2016_estimates.csv', index=False)

In [29]:
dr = pd.read_csv("death_and_recovery.csv")
dr

,Age,Gender,Patient_status,City,State,comorbidity,State_code
0,70,M,Deceased,Mumbai,Maharashtra,diabetes,MH
1,85,M,Deceased,Mumbai,Maharashtra,diabetes,MH
2,54,F,Recovered,Bangalore,Karnataka,cardiovascular,KA
3,65,M,Recovered,Chennai,Chennai,cerebrovascular,TN
4,55,F,Recovered,Indore,Madhya Pradesh,diabetes,MP
5,20,M,Recovered,Udaipur,Rajasthan,cerebrovascular,RA
6,21,F,Recovered,Delhi,Delhi,diabetes,ND
7,45,M,Recovered,Thane,Maharashtra,diabetes,MH
8,30,M,Recovered,Kochi,Kerala,diabetes,KL
9,57,M,Deceased,Howrah,West Bengal,cardiovascular,WB
10,49,F,Deceased,Indore,Madhya Pradesh,cerebrovascular,MP
11,57,M,Deceased,Belghoria,West Bengal,diabetes,WB
12,25,M,Deceased,Gorakhpur,Uttar Pradesh,cerebrovascular,UP
13,55,F,Recovered,Hyderabad,Telangana,diabetes,TL
14,26,F,Recovered,Kashmir,Jammu and Kashmir,diabetes,JK
15,38,M,Recovered,Amritsar,Punjab,diabetes,PB
16,44,F,Recovered,Siliguri,West Bengal,cardiovascular,WB
17,57,M,Recovered,Pune,Maharashtra,cerebrovascular,MH
18,45,F,Recovered,Guwahati,Assam,diabetes,AS
19,65,F,Recovered,Dispur,Assam,cerebrovascular,AS
20,51,M,Deceased,Mumbai,Maharashtra,diabetes,MH
21,72,M,Deceased,Meerut,Uttar Pradesh,diabetes,UP
22,45,M,Recovered,Lucknow,Uttar Pradesh,diabetes,UP
23,56,M,Deceased,Dharavi,Maharashtra,cardiovascular,MH
24,52,M,Deceased,Rajkot,Gujarat,cerebrovascular,GJ
25,68,F,Deceased,Puri,Bhubaneshwar,diabetes,BH
26,40,F,Deceased,Bhopal,Madhya Pradesh,cerebrovascular,MP
27,55,F,Recovered,Shillong,Meghalaya,diabetes,MG
28,54,M,Deceased,Jaipur,Rajasthan,diabetes,RA
29,42,M,Recovered,Gangtok,West Bengal,diabetes,WB
30,24,F,Deceased,dehradun,uttarakhand,cardiovascular,UK
31,23,M,Recovered,Darjeeling,West Bengal,cerebrovascular,WB
32,78,F,Recovered,Roorkie,uttarakhand,diabetes,UK
33,54,M,Recovered,Haridwar,uttarakhand,cerebrovascular,UK
34,74,F,Recovered,Mysore,Karnataka,diabetes,KA

In [30]:
dr = dr.drop(columns=['State_code'], axis=1)

In [31]:
dr.head()

   Age Gender Patient_status       City           State      comorbidity
0   70      M       Deceased     Mumbai     Maharashtra         diabetes
1   85      M       Deceased     Mumbai     Maharashtra         diabetes
2   54      F      Recovered  Bangalore       Karnataka   cardiovascular
3   65      M      Recovered    Chennai         Chennai  cerebrovascular
4   55      F      Recovered     Indore  Madhya Pradesh         diabetes

In [32]:
dr.to_csv('Cleaned_death_and_recovery.csv', index=False)

In [33]:
hb = pd.read_csv("hospitalbeds.csv")
hb

    serial                               state  Hosp_Aval  Beds_Aval  Pop_beds
0        1                      Andhra Pradesh        460      37961      2230
1        2                   Arunachal Pradesh        384       5010       236
2        3                               Assam       1020      10179      3062
3        4                               Bihar        671      13231      7846
4        5                        Chhattisgarh       2023      10770      1984
5        6                                 Goa         11       2510       581
6        7                             Gujarat       1553      35470      1746
7        8                             Haryana        154       7879      3122
8        9                    Himachal Pradesh        151       8485       808
9       10                 Jammu +ACY- Kashmir       1969       7318      1733
10      11                           Jharkhand        549       5414      6089
11      12                           Karnataka        765      51986      1119
12      13                              Kerala       1255      37021       910
13      14                      Madhya Pradesh       1539      30302      2492
14      15                         Maharashtra       1173      47217      2477
15      16                             Manipur        225       1385         2
16      17                           Meghalaya         40       2957       876
17      18                             Mizoram         22       1064      1132
18      19                            Nagaland         53       2427       905
19      20                              Orissa       1750      16683      2514
20      21                              Punjab        243      11419      2426
21      22                           Rajasthan       2512      38617      1777
22      23                              Sikkim         33       1560       390
23      24                          Tamil Nadu       1995      62229      1203
24      25                             Tripura         39       3485      1026
25      26                       Uttar Pradesh        861      56384      3499
26      27                         Uttarakhand        695       7965      1194
27      28                         West Bengal       1566      77210      1213
28      29  Andaman+AKA- +ACY- Nicobar Islands         32       1075       353
29      30                          Chandigarh          5       1750       603
30      31            Dadra +ACY- Nagar Haveli          2        281      1221
31      32                     Daman +ACY- Diu          4        200      1215
32      33                               Delhi        109      22961       744
33      34                         Lakshadweep          3        120       533
34      35                          Puducherry         50       2103       571
35      36                               India      35416    1376013       879

In [34]:
# Rename columns
hb = hb.rename(columns={'serial': 'Serial', 'state': 'State', 'Hosp_Aval': 'Hospitals_Available',
                        'Beds_Aval': 'Beds_Available', 'Pop_beds': 'Population_Beds'})

In [35]:
hb.to_csv('Cleaned_hospitalbeds.csv', index=False)

In [36]:
sd = pd.read_csv("statewisedata.csv")
sd

,sno,State_UT,Confirmed,Recovered,Deaths,Active,Last_updad_time,State_code,Delta_Confirmed,Delta_Recovered,Delta_Deaths
0,1,Total,3210,229,86,2895,04-04-2020 14:37,TT,102,0,0
1,2,Maharashtra,537,50,26,461,04-04-2020 14:17,MH,47,0,0
2,3,Tamil Nadu,411,6,1,404,03-04-2020 17:37,TN,0,0,0
3,4,Delhi,386,8,6,372,03-04-2020 23:32,DL,0,0,0
4,5,Kerala,295,42,2,251,03-04-2020 19:07,KL,0,0,0
5,6,Telangana,229,32,11,186,03-04-2020 20:27,TG,0,0,0
6,7,Rajasthan,198,3,0,195,04-04-2020 14:27,RJ,19,0,0
7,8,Uttar Pradesh,174,17,2,155,03-04-2020 23:57,UP,0,0,0
8,9,Andhra Pradesh,180,2,1,177,03-04-2020 23:32,AP,16,0,0
9,10,Madhya Pradesh,154,0,8,146,03-04-2020 23:52,MP,0,0,0
10,11,Karnataka,128,11,4,113,03-04-2020 23:42,KA,0,0,0
11,12,Gujarat,105,10,9,86,04-04-2020 14:27,GJ,10,0,0
12,13,Jammu and Kashmir,78,3,2,73,04-04-2020 14:17,JK,3,0,0
13,14,Haryana,58,27,0,31,03-04-2020 20:27,HR,0,0,0
14,15,West Bengal,53,3,6,44,02-04-2020 18:32,WB,0,0,0
15,16,Punjab,57,1,5,51,04-04-2020 14:37,PB,4,0,0
16,17,Bihar,31,3,1,27,03-04-2020 21:12,BR,0,0,0
17,18,Assam,25,0,0,25,04-04-2020 14:37,AS,2,0,0
18,19,Odisha,20,2,0,18,03-04-2020 23:42,OR,0,0,0
19,20,Chandigarh,18,0,0,18,02-04-2020 18:57,CH,0,0,0
20,21,Uttarakhand,16,2,0,14,03-04-2020 21:47,UT,0,0,0
21,22,Ladakh,14,3,0,11,27-03-2020 11:52,LA,0,0,0
22,23,Andaman and Nicobar Islands,10,0,0,10,30-03-2020 11:27,AN,0,0,0
23,24,Chhattisgarh,9,3,0,6,31-03-2020 23:07,CT,0,0,0
24,25,Himachal Pradesh,6,1,2,3,03-04-2020 17:17,HP,0,0,0
25,26,Goa,7,0,0,7,04-04-2020 09:42,GA,1,0,0
26,27,Puducherry,5,0,0,5,03-04-2020 02:37,PY,0,0,0
27,28,Jharkhand,2,0,0,2,02-04-2020 19:42,JH,0,0,0
28,29,Manipur,2,0,0,2,02-04-2020 09:42,MN,0,0,0
29,30,Mizoram,1,0,0,1,26-03-2020 07:19,MZ,0,0,0
30,31,Arunachal Pradesh,1,0,0,1,02-04-2020 11:42,AR,0,0,0
31,32,Dadra and Nagar Haveli,0,0,0,0,26-03-2020 07:19,DN,0,0,0
32,33,Daman and Diu,0,0,0,0,26-03-2020 07:19,DD,0,0,0
33,34,Lakshadweep,0,0,0,0,26-03-2020 07:19,LD,0,0,0
34,35,Meghalaya,0,0,0,0,26-03-2020 07:19,ML,0,0,0
35,36,Nagaland,0,0,0,0,26-03-2020 07:19,NL,0,0,0
36,37,Sikkim,0,0,0,0,26-03-2020 07:19,SK,0,0,0
37,38,Tripura,0,0,0,0,26-03-2020 07:19,TR,0,0,0

In [37]:
# Remove unwanted columns
sd = sd.drop(columns=['State_code', 'Delta_Confirmed', 'Delta_Recovered', 'Delta_Deaths'], axis=1)

In [38]:
sd.to_csv('cleaned_statewisedata.csv', index=False)

In [39]:
icmr = pd.read_csv("icmrtestingdata.csv")
icmr

,sno,UpdatedTimeStamp,TotalSamplesTested,Totalindividualstested,TotalPositiveCases,TestConductedbyPrivateLabs,Source
0,1,13/3/2020 00:00,6500.0,5900.0,78.0,NaN,Press_Release_ICMR_13March2020.pdf
1,2,18/3/2020 18:00,13125.0,12235.0,150.0,NaN,ICMR_website_update_18March_6PM_IST.pdf
2,3,19/3/2020 10:00,13316.0,12426.0,168.0,NaN,ICMR_website_update_19March_10AM_IST_V2.pdf
3,4,19/3/2020 18:00,14175.0,13285.0,182.0,NaN,ICMR_website_update_19March_6PM_IST.pdf
4,5,20/3/2020 10:00,14376.0,13486.0,206.0,NaN,ICMR_website_update_20March_10AM_IST.pdf
5,6,20/3/2020 18:00,15404.0,14514.0,236.0,NaN,ICMR_website_update_20March_6PM_IST.pdf
6,7,21/3/2020 10:00,15701.0,14811.0,271.0,NaN,ICMR_website_update_21March_10AM_IST.pdf
7,8,21/3/2020 18:00,16911.0,16021.0,315.0,NaN,ICMR_website_update_21March_6PM_IST.pdf
8,9,22/3/2020 10:00,16999.0,16109.0,341.0,NaN,ICMR_website_update_22March_10AM_IST.pdf
9,10,22/3/2020 18:00,18127.0,17237.0,396.0,NaN,ICMR_website_update_22March_6PM_IST.pdf
10,11,23/3/2020 10:00,18383.0,17493.0,415.0,NaN,ICMR_website_update_23March_10AM_IST.pdf
11,12,23/3/2020 20:00,20707.0,19817.0,471.0,NaN,ICMR_website_update_23March_8PM_IST.pdf
12,13,24/3/2020 10:00,20864.0,19974.0,482.0,NaN,ICMR_website_update_24March_10AM_IST.pdf
13,14,24/3/2020 20:00,22694.0,21804.0,536.0,NaN,ICMR_website_update_24March_8PM_IST.pdf
14,15,25/3/2020 10:00,22928.0,22038.0,539.0,NaN,ICMR_website_update_25March_10AM_IST.pdf
15,16,25/3/2020 20:00,25144.0,24254.0,581.0,NaN,ICMR_website_update_25March_8PM_IST.pdf
16,17,26/3/2020 10:00,NaN,NaN,NaN,NaN,NaN
17,18,26/3/2020 18:00,NaN,NaN,NaN,NaN,NaN
18,19,27/3/2020 09:00,27688.0,26798.0,691.0,NaN,ICMR_website_update_27March_9AM_IST.pdf
19,20,30/3/2020,38442.0,NaN,NaN,1334.0,MoH Press conference with Dr. Raman G
20,21,31/3/2020,42788.0,NaN,NaN,1733.0,MoH Press conference with Dr. Raman G
21,22,1/4/2020,47951.0,NaN,1637.0,4562.0,https://twitter.com/PTI_News/status/1245308976...
22,23,2/4/2020 21:00,55851.0,NaN,2056.0,NaN,ICMR_testing_update_02April_9PM_IST.pdf
23,24,3/4/2020 09:00,56680.0,NaN,2183.0,NaN,ICMR_testing_update_03April_9AM_IST.pdf
24,25,3/4/2020 21:00,69245.0,NaN,2653.0,NaN,ICMR_testing_update_03April_9PM_IST.pdf

In [40]:
icmr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 7 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   sno                         25 non-null     int64
 1   UpdatedTimeStamp            25 non-null     object
 2   TotalSamplesTested          23 non-null     float64
 3   Totalindividualstested      17 non-null     float64
 4   TotalPositiveCases          21 non-null     float64
 5   TestConductedbyPrivateLabs  3 non-null      float64
 6   Source                      23 non-null     object
dtypes: float64(4), int64(1), object(2)
memory usage: 1.5+ KB

In [41]:
icmr.isnull().sum()

sno                            0
UpdatedTimeStamp               0
TotalSamplesTested             2
Totalindividualstested         8
TotalPositiveCases             4
TestConductedbyPrivateLabs    22
Source                         2
dtype: int64

In [42]:
# Drop rows with null values in the 'TotalSamplesTested' column
icmr = icmr.dropna(subset=['TotalSamplesTested'])

In [43]:
icmr

,sno,UpdatedTimeStamp,TotalSamplesTested,Totalindividualstested,TotalPositiveCases,TestConductedbyPrivateLabs,Source
0,1,13/3/2020 00:00,6500.0,5900.0,78.0,NaN,Press_Release_ICMR_13March2020.pdf
1,2,18/3/2020 18:00,13125.0,12235.0,150.0,NaN,ICMR_website_update_18March_6PM_IST.pdf
2,3,19/3/2020 10:00,13316.0,12426.0,168.0,NaN,ICMR_website_update_19March_10AM_IST_V2.pdf
3,4,19/3/2020 18:00,14175.0,13285.0,182.0,NaN,ICMR_website_update_19March_6PM_IST.pdf
4,5,20/3/2020 10:00,14376.0,13486.0,206.0,NaN,ICMR_website_update_20March_10AM_IST.pdf
5,6,20/3/2020 18:00,15404.0,14514.0,236.0,NaN,ICMR_website_update_20March_6PM_IST.pdf
6,7,21/3/2020 10:00,15701.0,14811.0,271.0,NaN,ICMR_website_update_21March_10AM_IST.pdf
7,8,21/3/2020 18:00,16911.0,16021.0,315.0,NaN,ICMR_website_update_21March_6PM_IST.pdf
8,9,22/3/2020 10:00,16999.0,16109.0,341.0,NaN,ICMR_website_update_22March_10AM_IST.pdf
9,10,22/3/2020 18:00,18127.0,17237.0,396.0,NaN,ICMR_website_update_22March_6PM_IST.pdf
10,11,23/3/2020 10:00,18383.0,17493.0,415.0,NaN,ICMR_website_update_23March_10AM_IST.pdf
11,12,23/3/2020 20:00,20707.0,19817.0,471.0,NaN,ICMR_website_update_23March_8PM_IST.pdf
12,13,24/3/2020 10:00,20864.0,19974.0,482.0,NaN,ICMR_website_update_24March_10AM_IST.pdf
13,14,24/3/2020 20:00,22694.0,21804.0,536.0,NaN,ICMR_website_update_24March_8PM_IST.pdf
14,15,25/3/2020 10:00,22928.0,22038.0,539.0,NaN,ICMR_website_update_25March_10AM_IST.pdf
15,16,25/3/2020 20:00,25144.0,24254.0,581.0,NaN,ICMR_website_update_25March_8PM_IST.pdf
18,19,27/3/2020 09:00,27688.0,26798.0,691.0,NaN,ICMR_website_update_27March_9AM_IST.pdf
19,20,30/3/2020,38442.0,NaN,NaN,1334.0,MoH Press conference with Dr. Raman G
20,21,31/3/2020,42788.0,NaN,NaN,1733.0,MoH Press conference with Dr. Raman G
21,22,1/4/2020,47951.0,NaN,1637.0,4562.0,https://twitter.com/PTI_News/status/1245308976...
22,23,2/4/2020 21:00,55851.0,NaN,2056.0,NaN,ICMR_testing_update_02April_9PM_IST.pdf
23,24,3/4/2020 09:00,56680.0,NaN,2183.0,NaN,ICMR_testing_update_03April_9AM_IST.pdf
24,25,3/4/2020 21:00,69245.0,NaN,2653.0,NaN,ICMR_testing_update_03April_9PM_IST.pdf

In [44]:
# Save the updated DataFrame to a new file
icmr.to_csv('results.csv', index=False)